* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-color: cornflowerblue; */
    background: url('./assets/bg.png');
    background-size: contain;
    background-repeat: repeat-x;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}

header {
    padding: 1rem 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    /* background-color: blue; */
}

header h2 {
    font-size: 24px;
}

/* main {
    padding: 1rem;
} */

#start-screen,
#end-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

#chickie {
    height: 9rem;
    width: 8rem;
    position: absolute;
    /* bottom: 4rem; */
    top: 24.5rem;
    left: 5rem;
}

#egg {
    height: 5rem;
    width: 4rem;
    position: absolute;
    bottom: 3rem;
    /* right: 2rem; */
    left: 80rem;
    animation: moveEgg 3s infinite linear;
}

@keyframes moveEgg {
    0% {
        left: 80rem;
    }

    100% {
        left: -1rem;
    }
}

.hidden {
    display: none;
}

.jump {
    animation: jumpAnimation 0.5s linear;
}

@keyframes jumpAnimation {
    0% {
        top: 24.5rem;
    }
    30% {
        top: 17rem;
    }
    70% {
        top: 17rem;
    }
    100% {
        top: 24.5rem;
    }
}